/* BODY */
body{
  font-family:'Segoe UI', sans-serif;
  margin:0;
  background:#eef2f7;
  color:#000;
  transition:0.3s;
}

/* SIDEBAR */
.sidebar{
  width:220px;
  height:100vh;
  position:fixed;
  padding:20px;
  color:white;

  /* DARK BLACK SIDEBAR */
  background:linear-gradient(180deg,#000000,#0d0d0d,#1a1a1a);

  box-shadow:4px 0 15px rgba(0,0,0,0.5);
}

/* SIDEBAR TITLE */
.sidebar h2{
  text-align:center;
  color:#ffffff;
  margin-bottom:20px;
  letter-spacing:1px;
}

/* MENU */
.sidebar ul{
  list-style:none;
  padding:0;
  margin:0;
}

/* MENU ITEMS */
.sidebar li{
  padding:12px;
  margin-bottom:10px;
  cursor:pointer;
  border-radius:8px;
  transition:0.3s;
  color:#f1f1f1;
}

/* MENU HOVER */
.sidebar li:hover{
  background:#2ecc71;
  transform:translateX(5px);
}

/* MAIN CONTENT */
.main{
  margin-left:260px;
  padding:20px;
  transition:0.3s;
}

/* CARD */
.card{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  margin-bottom:15px;
  transition:0.3s;
}

/* BUTTON */
button{
  padding:10px 14px;
  background:#e74c3c;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  opacity:0.9;
}

/* DARK MODE BUTTON */
.mode-btn{
  width:100%;
  margin-top:15px;
  background:#27ae60;
}

.mode-btn:hover{
  background:#1e8449;
}

/* DARK MODE */
.dark-mode{
  background:#121212;
  color:white;
}

.dark-mode .main{
  background:#121212;
}

.dark-mode .card{
  background:#1e1e1e;
  color:white;
  box-shadow:0 4px 12px rgba(0,0,0,0.5);
}

.dark-mode .sidebar{
  background:linear-gradient(180deg,#000000,#0d0d0d,#1a1a1a);
}

.dark-mode button{
  background:#2ecc71;
}

.dark-mode button:hover{
  background:#27ae60;
}

/* MOBILE RESPONSIVE */
@media(max-width:768px){

  .sidebar{
    width:100%;
    height:auto;
    position:relative;
  }

  .main{
    margin-left:0;
  }
}